<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>MP - API 1.0.0</title>
</head>

<body>
    <div class="container">
        <div class="flex-column my-3 d-flex justify-content-center col-md-12">
            <h1 class="p-3 my-3 text-center">Mercado pago integração</h1>
            
            <div class="my-3 card p-3">
                <div class="text-center my-2">
                    <img src="img/cart.png" alt="Iphone 8" class="" style="max-width: 200px;">
                </div>
                <span>
                    Envio: <b th:text="${preference.shipments.cost}"></b>
                </span>
                <hr>
                <span>
                    Total: <b th:text="${total}"></b>
                </span>
                <form class="my-3" action="/processar_pagamento" method="POST">
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                        th:data-preference-id="${preference.id}">
                    </script>
                </form>
            </div>

        </div>
        <div class="my-3 d-flex justify-content-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3>Este é apenas um teste</h3>
                    <p class="lead">Use as credenciais abaixo para simular um pagamento</p>
                    <p class="lead">Numero do cartão: 5031 4332 1540 6351</p>
                    <p class="lead">CVV: 123</p>
                    <p class="lead">Validade: 11/25</p>
                    <p class="lead">CPF: 71169595057</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>