<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>MP - API 1.0.0</title>
</head>

<body>
    <div class="container">
        <div class="flex-column my-3 d-flex justify-content-center col-md-12">
            <h1 class="p-3 bg-light my-3 text-center">Iphone 8</h1>
            <div class="text-center my-2">
                <img src="img/iphone.jpg" alt="Iphone 8" class="img-thumbnail" style="max-width: 200px;">
            </div>
            <div class="my-3">
                <span>
                    Adquira já este lindo Iphone com <b>20%</b> de desconto!!!
                </span>
                <hr>
                <h4>R$ 1.800 Aproveite!!!</h4>
            </div>
            <form action="#" th:action="@{/pay}" method="POST" class="d-flex justify-content-center my-2">
                <script src="https://www.mercadopago.com.br/integrations/v1/web-tokenize-checkout.js" data-public-key="TEST-3ed0acb8-65bf-4ca9-8ff2-7da841d934b5" data-transaction-amount="1850.00" data-summary-product="1800" data-summary-shipping="50" data-summary-product-label="Iphone"
                    data-button-label="Comprar">
                </script>
            </form>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3>Este é apenas um teste</h3>
                    <p class="lead">Use as credenciais abaixo para simular um pagamento</p>
                    <p class="lead">Numero do cartão: 5031 4332 1540 6351</p>
                    <p class="lead">CVV: 123</p>
                    <p class="lead">Validade: 11/25</p>
                    <p class="lead">CPF: 711.695.950-57</p>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>