<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>MP - API 1.0.0</title>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="my-3">
            <h1 class="p-3 bg-light my-3 border border-info">Teste de integração</h1>
            <form action="#" th:action="/pay" method="POST">
                <script src="https://www.mercadopago.com.br/integrations/v1/web-tokenize-checkout.js" data-public-key="TEST-3ed0acb8-65bf-4ca9-8ff2-7da841d934b5" data-transaction-amount="100.00">
                </script>
            </form>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>